<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>TooDoo</title>
</head>

<body>
    <script src="scripts/script.js"></script>
    <p>Welcome to TooDoo, <%= user['user_name'] %>
    </p>
    <form action="/create" method="post">
        <textarea name="note" id="note" placeholder="Write a note" cols="30" rows="10"></textarea><br>
        <input type="submit" value="New">
    </form>
    <% for (let note in notes){ %>
        <p>
            <%= notes[note]['body'] %>
        </p>
        <form action="/delete/<%= notes[note]['todo_id'] %>" method="post">
            <button type="submit">Delete</button><br>
        </form>
        <% }; %>
</body>

</html>