<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>SignIn</title>
</head>

<body>
    <script src="scripts/script.js"></script>
    SignIn
    <div class="signin-box">
        <form action="/authorise" method="post">
            <label for="email">Enter your email:</label>
            <input name="email" id="email" type="email" autofocus><br>

            <label for="password">Enter your password:</label>
            <input name="password" id="password" type="password"><br>

            <input type="submit" value="Sign In">
        </form>
        <small>Don't have an account?</small>
        <button onclick="location.href='/signup'">Sign Up</button>
    </div>
</body>

</html>