<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>SignUp</title>
</head>
<body>
    <script src="scripts/script.js"></script>
    SignUp
    <div class="signup-box">
        <form action="/validate" method="post">
            <label for="username">Enter your username:</label>
            <input name="username" id="username" type="text" autofocus><br>

            <label for="email">Enter your email:</label>
            <input name="email" id="email" type="email"><br>

            <label for="password">Enter your password:</label>
            <input name="password" id="password" type="password"><br>

            <button type="submit">Sign Up</button>
        </form>
        <button type="button" onclick="authorise()">Continue with Google account</button><br>
        <small>Already have an account?</small>
        <button type="button" onclick="location.href='/signin'">Sign In</button>
    </div>
</body>
</html>